
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,900&family=Manrope:wght@200..800&family=Prompt:ital,wght@0,100;0,900&family=Sora:wght@100..800&display=swap');
@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-border: var(--border);

--font-lato: "Lato", sans-serif;
  --font-manrope: "Manrope", sans-serif;
  --font-prompt: "Prompt", sans-serif;
  --font-sora: "Sora", sans-serif;
}

:root {
  --background: #0C0714;
  --foreground: #fafafa;
  --primary: #818cf8;
  --border: rgba(255, 255, 255, 0.1);
}

body {
  background: var(--background);
  color: var(--foreground);
 font-family: "Manrope", sans-serif;
  margin: 0;
}